@font-face {
    font-family: Poppins-Regular;
    src: url('../Fonts/Poppins-Regular.ttf');
}

@font-face {
    font-family: Poppins-Medium;
    src: url('../Fonts/Poppins-Medium.ttf');
}

@font-face {
    font-family: Poppins-Bold;
    src: url('../Fonts/Poppins-Bold.ttf');
}


.Background {
    background-color: whitesmoke;
}

.Logo {
    width: 100px;
}

.navbar {
    background-color: #ffe2a9;
    padding-left: 20px;
    padding-right: 20px;
}

.nav-link:hover {
    color: #1e1e1e;
    font-family: Poppins-Medium;
}

.nav-link {
    color: #636363;
    font-family: Poppins-Medium;
    font-size: large;
    text-indent: 10px;
}

.active {
    color: #1e1e1e !important;
    font-family: Poppins-Medium;
}

.navbar-collapse {
    justify-content: end;
}

.profile-circel-image-200 img {
    width: 250px;
    height: 250px;
    border-radius: 250px;
}

.container {
    margin-top: 20px;
}

.Borders {
    border-radius: 20px;
    margin: 30px;
    height: 500px;
    width: 380px;
    box-shadow: 0px 0px 20px #bebebe;
}

.img-fluid {
    margin-top: 50px;
}

.PageTitle {
    font-family: Poppins-Bold;
    color: #1e1e1e;
}

.Title {
    font-family: Poppins-Bold;
    color: #1e1e1e;
}

.Body{
    font-family: Poppins-Regular;
color: #636363;
}

.mb-5 {
    margin-bottom: 40px;
}
